.button {
    display: inline-block;
    margin-right: 25px;
}

.link:hover {
    color: brown;
}

.link:active {
    text-decoration: none;
    color: brown;
}

.link {
    text-decoration: none;
    color: white;
}