.butt {
    display: inline-block;
    margin-right: 25px;
}

.a:hover {
    color: brown;
}

.a:active {
    text-decoration: none;
    color: brown;
}

.a {
    text-decoration: none;
    color: white;
}